<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Short Url | 短网址 - ZeroDeng</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{../assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{../assets/css/app.css}">
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>短网址</h1>
        <p>提供网址缩短服务</p>
    </div>
    <hr />
</div>

<div class="am-g">
    <div class="col-lg-6 col-md-8 col-sm-centered">
        <div class="am-tabs"  data-am-tabs="{noSwipe: 1}">
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li th:class="${DefaultActive}"><a href="javascript: void(0)">缩短网址</a></li>
                <li th:class="${CustomActive}"><a href="javascript: void(0)">自定义短网址</a></li>
            </ul>
            <div class="am-tabs-bd">
                <div th:class="${DefaultPanelActive}">
                        <form method="post" class="am-form" action="/form/getUrl">
                            <div  id="MakeShort_LongUrl_div" class="am-form-group">
                                <label class="am-form-label" >原网址:</label>
                                <input type="text"  id="MakeShort_LongUrl" th:name="MakeShort_LongUrl" onchange="checkUrl(this)" th:value="${url}" class="am-form-field" placeholder="请输入待缩短网址" />
                            </div>
                            <label class="am-form-label" >短网址:</label>
                            <div class="am-fr">
                                <div class="am-input-group am-input-group-sm">
                                    <span class="am-input-group-btn">
                                      <button class="am-btn am-btn-default" type="button" th:text="${domain}"></button>
                                    </span>
                                    <input type="text" class="am-form-field" th:value="${shortCode}">
                                </div>
                                <br>
                            </div>
                            <br>
                            <div class="am-cf">
                                <input type="submit" value="缩短网址" class="am-btn am-btn-primary am-btn-sm am-fl">
                            </div>
                        </form>
                </div>
                <div th:class="${CustomPanelActive}">
                    <form method="post" class="am-form" action="/form/getUrlCustom">
                        <div  id="MakeLong_ShortUrlCustom_div" class="am-form-group">
                            <label class="am-form-label" >原网址:</label>
                            <input type="text"  id="MakeShort_LongUrlCustom" th:name="MakeShort_LongUrlCustom" onchange="checkUrl(this)" th:value="${urlCustom}" class="am-form-field" placeholder="请输入待缩短网址" />
                        </div>
                        <label class="am-form-label" >自定义短网址:</label>
                        <div class="am-fr">
                            <div class="am-input-group am-input-group-sm">
                                    <span class="am-input-group-btn">
                                      <button class="am-btn am-btn-default" type="button" th:text="${domain}"></button>
                                    </span>
                                <input type="text" class="am-form-field" th:name="ShortCodeCustom" th:value="${shortCodeCustom}">
                            </div>
                            <br>
                        </div>
                        <div class="am-cf">
                            <input type="submit" value="缩短网址" class="am-btn am-btn-primary am-btn-sm am-fl">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <footer class="am-margin-top">
        <hr>
        <div class="am-btn-group">
            <a href="https://github.com/zerodeng01" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
            <!--a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
            <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a-->
        </div>
        <hr/>
        <p class="am-text-center">Powered by <a href="http://www.zerodeng.com">ZeroDeng</a></p>
    </footer>
</div>
<input type="hidden" id="serverCode" name="serverCode" th:value="${code}">
<input type="hidden" id="serverMsg" name="serverMsg" th:value="${msg}">
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<![endif]-->


<script th:src="@{../assets/js/zepto.min.js?1.1.4}"></script>
<script th:src="@{../assets/js/amazeui.js}"></script>
<script th:src="@{../assets/js/app.js}"></script>
<script th:src="@{../layer/jquery-3.4.1.min.js}"></script>
<script th:src="@{../layer/layer.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var code = document.getElementById("serverCode").value;
            var msg = document.getElementById("serverMsg").value;
            if(code.length>0){
                if(code!=0){
                    layer.msg(msg, {icon: 2});
                }else {
                    layer.msg(msg, {icon: 1});
                }
            }
        });
        function checkUrl(url){
            var urlString = url.value;
            if(urlString!=""){
                var reg=/(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?/;
                if(!reg.test(urlString)){
                    document.getElementById(url.id+"_div").setAttribute("class","am-form-group am-form-error am-form-icon am-form-feedback")
                    return false;
                }else{
                    document.getElementById(url.id+"_div").setAttribute("class","am-form-group am-form-success am-form-icon am-form-feedback")
                    return true;
                }
            }else{
                document.getElementById(url.id+"_div").setAttribute("class","am-form-group am-form-error am-form-icon am-form-feedback")
                return false;
            }
        }

    </script>
</body>
</html>